<header>
    <div class="links">
    <div class="site-title">
        <a href="/Home"><h1>Birthday<span>Api.</span></h1></a>
        <p>Never Miss a Birthday!!</p>
    </div>
    <ul class="link-tags">
        <li><a href="/Home">Home</a></li>
        <li><a href="/addBday">Add a Birthday!</a></li>
    </ul>
</div>
    <div class="search-box">       
       <input type="text" placeholder="Search for a frnd's Name..." class="search-bar" id="Input">
         <button type="submit" class="search-icon" >
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>     
    </div>
</header>